<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ktDomain" value="xxx" />
    <add key="ktAccessId" value="xxx" />
    <add key="ktAccessPassword" value="xxx" />
    <add key="ktLoginId" value="xxx" />
    <add key="ktLoginPassword" value="xxx" />
    <add key="proxy" value="http://xxx:8080" />
    <add key="proxyUser" value="xxx" />
    <add key="proxyPassword" value="xxx" />
    <add key="testAppId" value="xx" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>