<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ktDomain" value="xxx" />          <!-- https://xxx.cybozu.com -->
    <add key="ktAccessId" value="" />        <!-- Basic Authentication id (if you use) -->
    <add key="ktAccessPassword" value="" />  <!-- Basic Authentication password (if you use) -->
    <add key="ktLoginId" value="xxx" />         <!-- kintone id  -->
    <add key="ktLoginPassword" value="xxx" />   <!-- kintone password -->
    <add key="proxy" value="http://xxx:8080" /> <!-- proxy address (if you use) -->
    <add key="proxyUser" value="xxx" />         <!-- proxy authorization id (if you use) -->
    <add key="proxyPassword" value="xxx" />     <!-- proxy authorization password (if you use) -->
    <add key="testAppId" value="xx" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>